In [1]:
import pandas as pd

# Read Dataset

In [16]:
df = pd.read_csv("club.csv")

# How big is the Dataset is

In [17]:
df.shape

(100, 7)

# What is the Data type of cols

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Club Name                                       100 non-null    object
 1   Competition Name                                100 non-null    object
 2   Squad Size                                      100 non-null    int64
 3   Average Age Of Players                          100 non-null    float64
 4   Market Value Of Club In Millions(£)             100 non-null    float64
 5   Average Market Value Of Players In Millions(£)  100 non-null    float64
 6   Market Value Of Top 18 Players In Millions(£)   100 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 5.6+ KB

# How does the Data look like

In [19]:
df.sample(10)

,Club Name,Competition Name,Squad Size,Average Age Of Players,Market Value Of Club In Millions(£),Average Market Value Of Players In Millions(£),Market Value Of Top 18 Players In Millions(£)
26,AS Monaco,Ligue 1,29,24.4,331.47,11.43,291.60
3,Chelsea FC,Premier League,27,26.9,802.35,29.72,737.10
70,Celta de Vigo,LaLiga,22,27.8,127.17,5.78,123.30
31,SS Lazio,Serie A,33,27.6,280.17,8.49,257.67
99,Genoa CFC,Serie A,34,27.6,86.94,2.56,72.27
65,Cagliari Calcio,Serie A,28,27.4,132.46,4.73,122.22
85,Club Atlético River Plate,Liga Profesional,29,27.9,100.04,3.45,93.17
79,UC Sampdoria,Serie A,27,27.3,108.72,4.03,96.66
24,Wolverhampton Wanderers,Premier League,24,26.4,345.69,14.40,332.37
86,GNK Dinamo Zagreb,1.HNL,30,26.1,98.82,3.29,89.46

# How does the Data look Mathematically

In [20]:
df.describe()

,Squad Size,Average Age Of Players,Market Value Of Club In Millions(£),Average Market Value Of Players In Millions(£),Market Value Of Top 18 Players In Millions(£)
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,27.740000,26.368000,263.793800,9.682600,243.451700
std,2.812742,1.417701,205.457212,7.747373,190.344411
min,22.000000,23.000000,86.940000,2.560000,72.270000
25%,26.000000,25.575000,114.147500,4.127500,105.795000
50%,27.000000,26.200000,182.060000,7.045000,170.550000
75%,29.000000,27.500000,345.622500,12.980000,321.412500
max,36.000000,30.100000,970.020000,40.420000,920.700000

# Are there missing values?

In [21]:
df.isnull().sum()

Club Name                                         0
Competition Name                                  0
Squad Size                                        0
Average Age Of Players                            0
Market Value Of Club In Millions(£)               0
Average Market Value Of Players In Millions(£)    0
Market Value Of Top 18 Players In Millions(£)     0
dtype: int64

# Are there Duplicates values?

In [22]:
df.duplicated().sum()

0

# How is the Correlation between Cols?

In [23]:
df.corr()['Average Market Value Of Players In Millions(£)']

Squad Size                                       -0.222474
Average Age Of Players                            0.146799
Market Value Of Club In Millions(£)               0.983290
Average Market Value Of Players In Millions(£)    1.000000
Market Value Of Top 18 Players In Millions(£)     0.987126
Name: Average Market Value Of Players In Millions(£), dtype: float64