In [2]:
import pandas as pd

# Read Dataset

In [3]:
df = pd.read_csv("Mall_Customers.csv")

# How big is the Dataset is

In [4]:
df.shape

(200, 5)

# What is the Data type of cols

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

# How does the Data look like

In [6]:
df.sample(10)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
53           54    Male   59                  43                      60
9            10  Female   30                  19                      72
27           28    Male   35                  28                      61
12           13  Female   58                  20                      15
168         169  Female   36                  87                      27
95           96    Male   24                  60                      52
104         105    Male   49                  62                      56
191         192  Female   32                 103                      69
161         162  Female   29                  79                      83
199         200    Male   30                 137                      83

# How does the Data look Mathematically

In [7]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

# Are there missing values?

In [8]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

# Are there Duplicates values?

In [9]:
df.duplicated().sum()

0