In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Mall_Customers.csv")

In [3]:
df.sample(10)

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
162         163    Male   19                  81                       5
157         158  Female   30                  78                      78
79           80  Female   49                  54                      42
183         184  Female   29                  98                      88
19           20  Female   35                  23                      98
42           43    Male   48                  39                      36
168         169  Female   36                  87                      27
156         157    Male   37                  78                       1
166         167    Male   42                  86                      20
81           82    Male   38                  54                      55

In [8]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]